/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
//todo add emoji style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}
.gray-bg {
  background-color: #f0f2f5;
}

.cursor-pointer {
  cursor: pointer;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  >img {
    width: 100%;
  }
}
